div.container{
  margin-top: 100px;
  margin-bottom: 50px;
}
.info{
  height: 5px;
  padding-top: 100px;
  display:flex;
  justify-content: center;
  padding-right: 30px;
}
p{
  margin-bottom: 0;
}
.adjust{
  padding-right: 13px;
}
.separate{
  padding-right: 4px;
}
